
body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}
.logo h1 {
    margin: 0;
}
.navbar {
    text-align: center;
    margin-top: 1rem;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 10px;
}
.features {
    text-align: center;
    margin-top: 50px;
}
