<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriSens</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
<!-- navbar section starts -->
<header class="header">
    <div class="logo">
        <h1>AgriSens</h1>
    </div>

    <nav class="navbar">
       <!-- <a href="#about">About</a> -->
        <a href="{% url 'login' %}" class="btnn">Login</a>   <!-- Login button instead of Contact -->
    </nav>

    <div class="fas fa-bars" id="menu-btn"></div>
</header>
<!-- navbar section ends -->

<!-- home section starts -->
<section class="home" id="home">
    <div class="content">
        <h1>YOUR SMART FARMING ASSISTANT</h1>
        <p style="font-family: Cascadia Code Semi; font-weight: bold; font-size: xx-large;">Smart Crops, Smart Choices with AgriSens!</p>
    </div>

    <div class="image">
        <img class="image" src="{% static 'images/field.jpg' %}" alt="heading-image">
    </div>
</section>
<!-- home section ends -->
      
    </div>
</section>

</body>
</html>
